body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #919191;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #172529;
}

.outerBox {
  display: flex;
  flex-direction: column;
  border: 2px solid #61dafb;
  padding: 30px;
  text-align: center;
  margin: 20px;
  background-color: #fff;
  border-radius: 15px;
}

.playground {
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.box {
  border: 3px solid #61dafb;
  border-radius: 15px;
  height: 80px;
  width: 80px;
  cursor: pointer;
  transition: transform 0.1s, background-color 0.3s;
  box-shadow: 0px 0px 2px 5px rgb(0, 0, 0);
}

.box:active {
  transform: scale(0.9);
}

.help,
.restart,
.startGame,
.sound {
  border: 2px solid #61dafb;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  background-color: #20232a;
  color: #61dafb;
  transition: background-color 200ms, color 200ms;
}

.help:hover,
.restart:hover,
.startGame:hover,
.sound:hover {
  background-color: #61dafb;
  color: #20232a;
}

.memFlash {
  background-color: #2c2c2d;
  box-shadow: 0px 0px 20px 10px rgba(97, 218, 251, 0.8);
}

.userFlash {
  background-color: #282c34;
  box-shadow: 0px 0px 20px 10px #282c34;
  height: 115px;
  width: 115px;
}

.gameOver {
  background-color: #ff4c4c;
}
